networks:
  syncthing:
    external: true

volumes:
  app:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${APP_FOLDER:-./app}
  linker-config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${CONFIG_FOLDER:-./config}
  syncthing-config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${CONFIG_FOLDER:-./syncthing-config}
  files:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${SOURCE_FOLDER:-./files}
  logs:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${LOG_FOLDER:-./logs}

services:
  linker:
    image: evoweb/syncthing-linker:${TAG:-latest}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      # source and destination folders need to be subfolders of files
      # @see config/config.yaml line 1-2
      - files:/files
    environment:
      PUID: 1000
      PGID: 1000
      SYNCTHING_HOST: "${SYNCTHING_HOST:-syncthing}"
      SYNCTHING_PORT: "${SYNCTHING_PORT:-8384}"
      SYNCTHING_API_KEY: "${SYNCTHING_API_KEY}"
    restart: always
    networks:
      - syncthing

  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - syncthing-config:/config
      # Should contain the same folders as in the linker service
      - files:/files
    environment:
      PUID: 1000
      PGID: 1000
    ports:
      - "8384:8384"
      - "22000:22000/tcp"
      - "22000:22000/udp"
      - "21027:21027/udp"
    restart: unless-stopped
    networks:
      - syncthing

  development:
    image: evoweb/syncthing-linker:${TAG:-latest}
    build:
      context: .
      dockerfile: Dockerfile
    profiles:
      - donotstart
    command: sleep infinity
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - app:/usr/src/app
      - linker-config:/config
      - files:/files
      - logs:/logs
    environment:
      PUID: 1000
      PGID: 1000
      SYNCTHING_HOST: "${SYNCTHING_HOST:-syncthing}"
      SYNCTHING_PORT: "${SYNCTHING_PORT:-8384}"
      SYNCTHING_API_KEY: "${SYNCTHING_API_KEY}"
      WRITE_LOGS: true
    networks:
      - syncthing
