networks:
  syncthing:
    external: true

volumes:
  app:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${APP_FOLDER:-./app}
  config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${CONFIG_FOLDER:-./config}
  source:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${SOURCE_FOLDER:-./files/source}
  destination:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DESTINATION_FOLDER:-./files/destination}

services:
  linker:
    image: evoweb/syncthing-linker:${TAG:-latest}
    volumes:
      - config:/config
      - source:/source
      - destination:/destination
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
      SYNCTHING_HOST: "${SYNCTHING_HOST:-syncthing}"
      SYNCTHING_PORT: "${SYNCTHING_PORT:-8384}"
      SYNCTHING_API_KEY: "${SYNCTHING_API_KEY}"
    restart: always
    networks:
      - syncthing

  linker-development:
    image: evoweb/syncthing-linker:${TAG:-latest}
    build:
      context: .
      dockerfile: Dockerfile
    command: sleep infinity
    volumes:
      - app:/usr/src/app

      - config:/config
      - source:/source
      - destination:/destination
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
      SYNCTHING_HOST: "${SYNCTHING_HOST:-syncthing}"
      SYNCTHING_PORT: "${SYNCTHING_PORT:-8384}"
      SYNCTHING_API_KEY: "${SYNCTHING_API_KEY}"
    restart: no
    networks:
      - syncthing